@tailwind base;
@tailwind components;
@tailwind utilities;


 /* Modified CSS Reset */
/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin and Padding */
* {
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Media Defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  max-inline-size: 100%;
}

/* Form Elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Text Overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
}

/* Reset Margins */
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

/* Root Stacking Context */
#root,
#__next {
  isolation: isolate;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 9px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #cfcece; /* Light grey thumb for simplicity */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #cfcece; /* Space between the thumb and track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #979797; /* Darker grey on hover for thumb */
}
